<!DOCTYPE html>
<html>
<head>
  <title>Hi5 Exchange</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9 col-xs-offset-1 col-xs-9">
      <%= image_tag("hi5_banner.png", class: "img-responsive", width: "60%")  %>
    </div>
  </div>
  <div class="container">
    <div id="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-7 col-xs-offset-1 col-xs-7">
          <div id="user_nav">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> | 
              <%= link_to "Login", new_user_session_path %> | 
              <%= link_to "Twitter Sign In", user_omniauth_authorize_path(:twitter) %> | 
              <%= link_to "Facebook Sign In", user_omniauth_authorize_path(:facebook) %>
            <% end %>
          </div>
          <div class="row">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}" , class: "alert alert-info" %>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>



</body>
</html>
